.block {
  margin: 0;
  padding: 0;
  grid-row: 1/2;
  grid-column: 1/2;
}

.title {
  margin: 0;
  padding: 40px 0 20px;
}

.ingredientList {
  margin: 0;
  padding: 0 16px;
  height: 720px;
  overflow-y: scroll;
}


.ingredientList::-webkit-scrollbar {
  width: 12px;
}

.ingredientList::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredientList::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  border-radius: 6px;
}

