.card {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 208px;
  cursor: pointer;
}

.cardDragging {
  opacity: 0;
}

.counter {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4C4CFF;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  opacity: 1;
}

.counterHide {
  opacity: 0;
}


.counter1 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

.cardImage {
  display: block;
  width: 240px;
  height: 120px;
  margin: 0 auto;
}

.cardPrice {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template: auto/max-content max-content;
  column-gap: 8px;
}

.cardName {
  margin: 0;
  padding: 8px 0 0 0;
  text-align: center;
}


