.card {
  display: grid;
  gap: 24px;
  grid-template: auto / 1fr 1fr;
  border: solid 1px #FFFFFF;
  width: 272px;
  height: 208px;
}


.element {
  border: solid 1px #FFFFFF;
  width: 272px;
  height: 208px;
}
