.block {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template: auto /1fr minmax(auto, 1240px) 1fr;
}

.main {
  margin: 0;
  padding: 0 0 20px 20px;
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr /1fr 600px 600px 1fr;
  column-gap: 40px;
}
