
.profile__block {
  grid-column: 2/3;
  margin: 0;
  padding: 120px 0 0 0;
  display: grid;
  grid-template: auto / 390px max-content 1fr;
}

.profile__form {
  grid-column: 2/3;
  margin: 0 0 0 60px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile__input {
  margin: 0 0 24px 0;
  padding: 0;
}

.profile__buttons {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
}

.profile__link {
  margin: 0;
  padding: 0;
  color: #4C4CFF;
}

.profile__text {
  width: 280px;
  margin: 100px 0 0 0;
  padding: 0;
  color: #8585AD;
}

.profile__panel {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}


.profile__menu {
  margin: 0 0 25px 0;
  padding: 0;
}

.profile__cancel {
  align-self: center;
  margin: 0 25px 0 0;
  padding: 0;
  color: #4C4CFF;
  cursor: pointer;
}
