.page {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: max-content /1fr minmax(auto, 1240px) 1fr;
  background-color: #1C1C21;
}

.block {
  display: grid;
  grid-template: auto / max-content 1fr max-content;
  grid-column: 2/3;
}

.headerLogo {
  margin: 0 0 0 135px;
  align-self: center;
}

.headerCabinet {
  justify-content: end;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 1/2;
  display: grid;
  column-gap: 8px;
  grid-auto-flow: column;
  grid-template: auto / max-content;
  align-self: center;
}

.navItem {
  padding: 16px 20px;
  align-content: start;
}

.navItem:first-of-type {
  padding: 16px 20px 16px 0;
}


.navLink {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  grid-template: auto / max-content;
  column-gap: 8px;
}

.navText {
  margin: 0;
  padding: 0;
  align-self: center;
  color: #F2F2F3;
}

.navTextGray {
  color: #8585AD;
}

.cabinet {
  margin: 0;
  padding: 0;
  grid-column: 3/4;
  align-self: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
